    <div class="container my-5 h-100 w-100 d-flex justify-content-center align-items-center">
<div class="card card-emergency">
  <div class="card-body">
    <h5 class="card-title text-center my-4 mt-0">Formulário de emergência</h5>
    <h6 class="card-subtitle mb-2 text-center">Preencha os campos abaixo para darmos continuidade ao seu atendimento.</h6>
      <%= form_with(url: 'emergency_form', local: true) do |form| %>
      <div class="form-group text-center">
        <%= form.label :idade, class: 'h4 my-2' %>
        <%= form.number_field :idade, class: 'form-control rounded-pill w-50 m-auto', min: 0, max:99 %>
      </div>
      <br>
      <div class="form-group">
        <p class='h4 text-center'>Como deseja conversar?</p>
        <div class="form-check">
          <%= form.radio_button :opcao, 'texto', class: 'form-check-input' %>
          <%= form.label :opcao_audio, 'Texto', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= form.radio_button :opcao, 'audio', class: 'form-check-input' %>
          <%= form.label :opcao_audio, 'Áudio', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= form.radio_button :opcao, 'video_chamada', class: 'form-check-input' %>
          <%= form.label :opcao_video_chamada, 'Vídeo Chamada', class: 'form-check-label' %>
        </div>
        <br>
        <div class="d-flex m-auto justify-content-center send-emergency-button">
      <%= form.submit 'Enviar', class: 'btn text-button-color-emergency' %>
      </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
